<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button routerLink="/" class="btn btn-sm btn-outline-success me-2" type="button">Home</button>
    <button routerLink="/person" class="btn btn-sm btn-outline-secondary me-2" type="button">Person</button>
    <button routerLink="/others" class="btn btn-sm btn-outline-warning me-2" type="button">Others</button>
    <button routerLink="/forms" class="btn btn-sm btn-outline-dark me-2" type="button">Forms</button>
    <button routerLink="/auth/register" class="btn btn-sm btn-outline-dark me-2" type="button">Register</button>
  </form>
</nav><router-outlet></router-outlet>